
body {
  height: 100vh;
    background-image: url('images/homepage\ background.jpeg');
    background-position: center;
    background-size: cover;
    @font-face{
        font-family:"helvetica";
        src:url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("woff"),
        url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("opentype"),
        url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("truetype");
    }
    
    font-family: "helvetica";
}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  
  } 
  .logo{
    float: left;
    display: flex;
    align-items: center;
  }
  
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #333
    ;
  }
.about{
  background-color: #333;
  width: 70vw;
  height: 100vh;
  margin: auto;
  text-align: center;
  color: white;
  border-width: 10px;
  border-color: #eabd0a;
  border-style: solid;
}


  
